@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #fff;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: #333;
  text-decoration: none;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.book-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description,
.found-page {
  /* display: flex; */
  display: block;
  align-items: center;
  max-width: 800px;
  margin: 0 10px;
}

.description strong,
.found-page strong {
  margin: 0 5px;
  color: #ff785a;
}

.icon {
  color: #ff785a;
}

.book-details {
  background: #fff;
  margin: 20px auto;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.book-details h2 {
  color: var(--primary);
  margin: 0 0 10px 0;
  font-size: 24px;
}

div.error {
  padding: 10px;
  background: #f2a2bb;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.icon-book-add {
  margin: 0 4px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

label,
input {
  display: block;
}